<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!--Vue-->
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/vue-resource.js"></script>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <!--Flat UI-->
    <link href="/stylesheets/flat-ui.css" rel="stylesheet">
    <!--time picker-->
    <link href="/stylesheets/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <!--导航栏-->
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                <a class="navbar-brand" href="/">PM 2.5</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/comm">Predict</a></li>
                    <li class="active"><a href="/data">Search</a></li>
                    <li><a href="/map">Map</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#"><span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span><span class="visible-md visible-lg"><span class="fui-gear"></span></span></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div class="container">
        <form id="selector" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="timeInput" class="col-lg-2 control-label">查询时间段</label>
                <div class="col-lg-10">
                    <div class='input-group date' id='timeInput'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">  
                    <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="quantityInput" class="col-lg-2 control-label">查询数量</label>
                <div class="col-lg-10">
                    <input type="text" id="quantityInput" class="form-control" name="username" v-model.number="quantity" />
                </div>
            </div>
            <div class="form-group">
                <label for="submitBtn" class="sr-only">查询按钮</label>
                <button id="submitBtn" type="submit" v-bind:class="[baseClass, statusClass]" v-bind:disabled="isDisable" v-on:click="searchData">search</button>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table id="showList" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>时间</th>
                        <th>经度</th>
                        <th>纬度</th>
                        <th>pm含量</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>{{ (new Date(item.TIME)).toString() }}</td>
                        <td>{{ item.LOT }}</td>
                        <td>{{ item.LAT }}</td>
                        <td>{{ item.PM }}</td>
                        <!-- LOT:{{ item.LOT }}.LAT:{{ item.LAT }}.PM:{{ item.PM }} -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/javascripts/jquery.js "></script>
    <script src="/javascripts/flat-ui.js "></script>
    <script type="text/javascript" src="/javascripts/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script src="/javascripts/application.js"></script>
    <!-- this is the bind scripts -->
    <!-- 注意bind的js必须放在页面的最后 -->
    <script src="/javascripts/bind/data.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#timeInput').datetimepicker({
                locale: 'zh-cn',
                autoclose: true
            });
        });
    </script>
</body>

</html>